input {
    keyboard {
        repeat-rate 50
        repeat-delay 200

        xkb {
            layout "us,rs"
            variant ",yz";
            options "caps:escape,grp:alt_shift_toggle";
        }
        numlock
    }

    touchpad {
        off
    }
    trackpoint {
        off
    }
    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse
}

spawn-at-startup "qs"
spawn-at-startup "awww-daemon"
spawn-sh-at-startup "sleep 1 && awww img ~/code/misc/catppuccin-wallpapers/landscapes/tropic_island_night.jpg"
// spawn-sh-at-startup "oniri"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/user/media/screenshots/%Y-%m-%d_%H-%M-%S.png"

include "appearance.kdl"
include "keybinds.kdl"
