output "DP-1" {
    mode "3440x1440@180.000"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
    hot-corners {
        off
    }
}

output "DP-2" {
    mode "1920x1080@165.003"
    scale 1
    transform "normal"
    position x=3440 y=0
    hot-corners {
        off
    }
}
